/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.login-display, .signup-display, .home-display, .edit-display, .delete-display {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: auto;
	text-align: center;
}

.login-header {
	font-size: 46px;
	padding: 50px;
	font-family: 'Handwriting';
	color: #FFCB00;
	background-color: #00402A;
	text-align: center;
}

.login-form {
	flex: 1 1 auto;
	font-size: 30px;
	padding: 70px;
	background-color: #00132E;
	color: #00C786;
	font-family: 'minimal';
	height: 475px;
}

.login-input {
	margin-top: 17px;
	margin-bottom: 17px;
	font-size: 18px;
	color: #00132E;
}

.login-submit, .tosignup-submit {
	border: 3px inset #00C786;
	background-color: #00136E;
	color: #00C786;
	font-family: 'fancy_bold';
	font-size: 20px;
	padding: 5px;
	margin-top: 2.5px;
	margin-bottom: 7px;
}

.signup-display {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: auto;
	text-align: center;
}

.signup-display .signup-header-container {
	flex: 0 1 auto;
}

.signup-header {
	font-size: 46px;
	padding: 50px;
	font-family: 'Handwriting';
	color: #00C786;
	background-color: #00132E;
	text-align: center;
}

.signup-form {
	flex: 1 1 auto;
	font-size: 30px;
	padding: 30px;
	background-color: #00402A;
	color: #FFCB00;
	font-family: 'minimal';
	height: 660px;
}

.signup-input {
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 18px;
	color: #00132E;
}

.signup-submit, .tologin-submit {
	border: 3px inset #FFCB00;
	background-color: #00402A;
	color: #FFCB00;
	font-family: 'fancy_bold';
	font-size: 20px;
	padding: 5px;
	margin-bottom: 7px;
}

.signup-submit:hover, .login-submit:hover {
	background-color: #FFCB00;
	color: #00132E;
	border-color: #00132E;
}

.tologin-submit:hover {
	color: #00C786;
	background-color: #00132E;
	border-color: #00C786;
}

.tosignup-submit:hover {
	color: #FFCB00;
	background-color: #00402A;
	border-color: #FFCB00;
}

.welcome {
	display: flex;
	font-family: 'Handwriting';
	font-size: 38px;
	padding: 30px;
	color: #00132E;
	background-color: #00C786;
	flex-flow: row;
	text-align: center;
}

.home-nav {
	background-color: #00132E;
	padding: 20px;
}

.nav-link {
	border-width: 0px;
	color: #00C786;
	background-color: #00132E;
	font-size: 22px;
	margin-left: 70px;
	margin-right: 70px;
	font-family: 'fancy_bold';
	border-left: 2px solid #00C786;
	border-right: 2px solid #00C786;
	padding-left: 40px;
	padding-right: 40px;
}

.nav-link:hover {
	color: #FFCB00;
	text-decoration: underline;
	border-left-color: #FFCB00;
	border-right-color: #FFCB00;
}

.welcome-message {
	display: block;
	margin-left: 430px;
}

.logout-container {
	display: block;
	float: right;
	margin-left: auto;
}

.logout-link {
	background-color: #00C786;
	border-width: 0px;
	color: #00132E;
	font-family: 'fancy';
	font-size: 20px;
}

.logout-link:hover {
	font-family: 'fancy_bold';
	color: #00402A;
	text-decoration: underline;
}

.body-container {
	background-color: #00402A;
	color: #FFCB00;
}

.body-title {
	font-family: 'Handwriting';
	font-size: 32px;
	margin: 30px;
}

.search-label {
	font-family: 'fancy';
	font-size: 24px;
}

.title-search {
	margin: 10px;
	margin-left: 3px;
	color: #00132E;
	border: 2px inset #00132E;
	padding: 5px;
}

.result-title {
	font-family: 'afterglow';
	font-size: 36px;
	margin: 10px;
	text-decoration: overline underline;
	color: #00C786;
}

.result-image {
	min-width: 250px;
	min-height: 250px;
	margin: 15px;
	margin-top: 7px;
}

.result-description {
	margin: 20px;
	margin-left: 350px;
	margin-right: 350px;
	color: #00C786;
	font-family: 'zeit';
	font-size: 18px;
}

.submit-search {
	margin: 20px;
	border: 3px inset #00C786;
	background-color: #00132E;
	color: #00C786;
	padding: 5px;
	font-family: 'fancy_bold';
	font-size: 20px;
}

.submit-search:hover {
	background-color: #FFCB00;
	color: #00132E;
	border-color: #00132E;
}

.review-label {
	font-family: 'afterglow';
	font-size: 22px;
	margin: 10px;
}

.review-text {
	width: 700px;
	height: 100px;
	margin: 10px;
	border: 5px #FFCB00 inset;
	padding: 10px
}

.rating-container {
	margin: 10px;
	margin-bottom: 20px;
}

.submit-review-btn {
	margin: 20px;
	border: 3px inset #00132E;
	background-color: #FFCB00;
	color: #00132E;
	padding: 5px;
	font-family: 'fancy_bold';
	font-size: 20px;
}

.submit-review-btn:hover {
	background-color: #00132E;
	color: #00C786;
	border-color: #00C786;
}

.edit-header {
	font-family: 'Handwriting';
	padding: 50px;
	font-size: 38px;
	background-color: #00402A;
	color: #00C786;
}

.edit-nav {
	background-color: #00132E;
	padding: 20px;
}

.edit-link {
	border-width: 0px;
	color: #FFCB00;
	background-color: #00132E;
	font-size: 22px;
	margin-left: 70px;
	margin-right: 70px;
	font-family: 'fancy_bold';
	border-left: 2px solid #FFCB00;
	border-right: 2px solid #FFCB00;
	padding-left: 40px;
	padding-right: 40px;
}

.edit-link:hover {
	color: #00C786;
	text-decoration: underline;
	border-left-color: #00C786;
	border-right-color: #00C786;
}

.edit-form {
	flex: 1 1 auto;
	font-size: 30px;
	padding: 30px;
	background-color: #00136E;
	color: #00C786;
	font-family: 'minimal';
	height: 560px;
}

.edit-input {
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 18px;
	color: #00132E;
}

.edit-submit {
	border: 3px inset #00C786;
	background-color: #00132E;
	color: #00C786;
	font-family: 'fancy_bold';
	font-size: 20px;
	padding: 5px;
	margin-bottom: 7px;
}

.edit-submit:hover {
	border-color: #00132E;
	color: #00132E;
	background-color: #00C786;
}

.delete-header {
	background-color: #00132E;
	color: #00C786;
	font-family: 'afterglow';
	font-size: 34px;
	padding: 30px;
}

.delete-form {
	display: flex;
	background-color: #00402A;
	color: #00C786;
	height: 666px;
	font-family: 'fancy_bold';
	font-size: 24px;
	flex-flow: column;
}

.delete-input {
	margin-top: 150px;
	margin-bottom: 60px;
	margin-left: 3px;
	width: 240px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 16px;
}

.delete-submit {
	border: inset 3px #00C786;
	font-size: 21px;
	background-color: #00132E;
	color: #00C786;
	padding: 5px;
	font-family: 'fancy_bold';
}

.delete-submit:hover {
	background-color: #00C786;
	color: #00132E;
	border-color: #00132E;
}

.d-link-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 150px;
}

.delete-link {
	border-width: 0px;
	background-color: #00402A;
	color: #00C786;
	font-family: 'Handwriting';
	font-size: 28px;
	border-left: 5px #00C786 solid;
	border-right: 5px #00C786 solid;
	padding-left: 50px;
	padding-right: 50px;
}

.delete-link:hover {
	color: #FFCB00;
	border-color: #FFCB00;
}

@font-face {
	font-family: 'Handwriting';
	src: url('./handwriting-draft_free-version.ttf');
}

@font-face {
	font-family: 'minimal';
	src: url('./minimal.otf');
}

@font-face {
	font-family: 'fancy';
	src: url('./Champagne-Limousines.ttf');
}

@font-face {
	font-family: 'fancy_bold';
	src: url('./Champagne & Limousines Bold.ttf')
}

@font-face {
	font-family: 'afterglow';
	src: url('./Afterglow-Regular.ttf');
}

@font-face {
	font-family: 'zeit';
	src: url('./Zeit-Light.otf');
}