/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #00132E;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.login-display {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: auto;
	text-align: center;
}

.login-header {
	font-size: 46px;
	padding: 50px;
	font-family: 'Handwriting';
	color: #FFCB00;
	background-color: #034514;
	text-align: center;
}

.login-form {
	flex: 1 1 auto;
	font-size: 30px;
	padding: 70px;
	background-color: #00132E;
	color: #00C786;
	font-family: 'minimal';
	height: 475px;
}

.login-input {
	margin-top: 17px;
	margin-bottom: 17px;
	font-size: 18px;
	color: #00132E;
}

.login-submit, .tosignup-submit {
	border: 3px inset #00C786;
	background-color: #00136E;
	color: #00C786;
	font-family: 'fancy_bold';
	font-size: 20px;
	padding: 5px;
	margin-top: 2.5px;
	margin-bottom: 7px;
}

.signup-display {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: auto;
	text-align: center;
}

.signup-display .signup-header-container {
	flex: 0 1 auto;
}

.signup-header {
	font-size: 46px;
	padding: 50px;
	font-family: 'Handwriting';
	color: #00C786;
	background-color: #00132E;
	text-align: center;
}

.signup-form {
	flex: 1 1 auto;
	font-size: 30px;
	padding: 30px;
	background-color: #034514;
	color: #FFCB00;
	font-family: 'minimal';
	height: 660px;
}

.signup-input {
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 18px;
	color: #00132E;
}

.signup-submit, .tologin-submit {
	border: 3px inset #FFCB00;
	background-color: #034514;
	color: #FFCB00;
	font-family: 'fancy_bold';
	font-size: 20px;
	padding: 5px;
	margin-bottom: 7px;
}

.signup-submit:hover, .login-submit:hover {
	background-color: #FFCB00;
	color: #00132E;
	border-color: #00132E;
}

.tologin-submit:hover {
	color: #00C786;
	background-color: #00132E;
	border-color: #00C786;
}

.tosignup-submit:hover {
	color: #FFCB00;
	background-color: #034514;
	border-color: #FFCB00;
}

@font-face {
	font-family: 'Handwriting';
	src: url('./handwriting-draft_free-version.ttf');
}

@font-face {
	font-family: 'minimal';
	src: url('./minimal.otf');
}

@font-face {
	font-family: 'fancy';
	src: url('./Champagne-Limousines.ttf');
}

@font-face {
	font-family: 'fancy_bold';
	src: url('./Champagne & Limousines Bold.ttf')
}


@media screen and (max-width: 550px){
	html{
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}